.menu {
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.13s ease-in-out;
    padding: 12px;
    border-radius: 10px;
}

.menuLink:hover {
    filter: brightness(70%);
}
.menuLink svg {
    size: 24px;
}